spring:
  application:
    name: campus-coffee
  datasource:
      url: jdbc:h2:mem:campuscoffee;DB_CLOSE_DELAY=-1
      driver-class-name: org.h2.Driver
      username: sa
      password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: false
logging:
  file:
    name: campus-coffee.log
  level:
    de.seuhd.campuscoffee.data.client: DEBUG
    feign: DEBUG
server:
  error:
    whitelabel:
      enabled: false
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
osm:
  api:
    base-url: https://www.openstreetmap.org/api/0.6
campus-coffee:
  approval:
    min-count: 3

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
server:
  error:
    include-message: always
    include-binding-errors: always
management: # https://docs.spring.io/spring-boot/reference/actuator/endpoints.html
  endpoints:
    web:
      exposure:
        include: health, metrics, env
  metrics:
    enable:
      all: true
springdoc:
  api-docs:
    enabled: true
    path: /api/api-docs
  swagger-ui:
    enabled: true
    path: /api/swagger-ui.html
